<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Don't use any higher level config files to keep our builds isolated from user/machine state: -->
	<fallbackPackageFolders>
		<clear />
	</fallbackPackageFolders>
	<packageSources>
		<!-- <clear> ensures that we do not inherit the global NuGet package sources to keep our builds isolated from user/machine state: -->
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="nuget.tbc" value="https://hdprepo.hq.tbc/repository/nuget-hosted/index.json" protocolVersion="3" />
		<add key="pre-release.nuget.tbc" value="https://hdprepo.hq.tbc/repository/nuget-hosted-pre-release/index.json" protocolVersion="3" />
	</packageSources>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<disabledPackageSources>
		<clear />
	</disabledPackageSources>
	<!-- To avoid supply chain attacks, never load TBC.* packages from nuget.org -->
	<!-- Since TBC.* prefix is not reserved by TBC Bank, any malicious user can upload TBC.* packages to nuget.org -->
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="pre-release.nuget.tbc">
			<package pattern="*" />
		</packageSource>
		<packageSource key="nuget.tbc">
			<package pattern="TBC.*" />
			<package pattern="TIBCO.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
