<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Don't use any higher level config files to keep our builds isolated from user/machine state: -->
	<fallbackPackageFolders>
		<clear />
	</fallbackPackageFolders>
	<packageSources>
		<!-- <clear> ensures that we do not inherit the global NuGet package sources to keep our builds isolated from user/machine state: -->
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
</configuration>
